@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: rgb(57, 57, 57);

}



b{
    color:#c6ac94;
}

h1,
h2 {
    font-family: "Cormorant Upright", serif;
    font-weight: 100;
}

p {
     font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
}


.background {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.449), rgba(207, 191, 169, 0.63)), url('assets/background3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-header {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 32;
    background-color: #ffffff;
    box-shadow: 0 1px 10px 1px rgba(4, 4, 4, 0.081)
}



.main-nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cormorant Upright", serif;
}

.main-nav_item {
    display: none;
}

.main-nav_items li a,
.mobile-nav-item a {
    color: #3c3c3c;
    list-style: none;
    text-decoration: none;
    z-index: 10;
    margin: 0 2rem;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: "Cormorant Upright", serif;
}

.main-nav img{
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Mobile NAV */

.mobile-nav {
    background: linear-gradient(to right bottom, #EFE7DA 50%, #efe7da35 90%), url("assets/background1.jpg");
    background-position: center;
    background-size: cover;
    display: none;
    position: fixed;
    z-index: 145467;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: move .5s ease-in;
    overflow: hidden;


}


.mobile-nav-items {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.mobile-nav-item a {
    font-size: 1rem;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 100;
    font-family: "Cormorant Upright", serif;

}
.mobile-nav-item ul{
    padding-left: 0;
}

/* Hamburger menu*/


.toggle-button {
    width: 2rem;
    background: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 25px;
    right: 1rem;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-bar {
    width: 100%;
    height: .1rem;
    background: #c6ac94;
    display: block;
    margin: 0.4rem 0;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.title h1 {
    font-family: "Cormorant Upright", serif;
    color: #ffffff;
    font-size: 6rem;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 8px;
}


.title h2 {
    font-family: "Cormorant Upright", serif;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.promo {
    background-color: #f6f1eb;
    padding: 40px 0;
    color: #909090;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    line-height: 33px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

.promo p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.promo h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
}

#promo_email {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

article {
    width: 100%;
    padding: 3rem 0;
    background-color: rgb(255, 255, 255);

}


.flex_container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: #eadcce26;
    border-radius: 20px;
    padding: 2rem;
}

.flex_container p{
    text-align: justify;

}

.flex_container img{
    width: 100%;
    margin-top: 1rem;
    border-radius: 0 120px 0 120px;
    filter: grayscale(10%);
}

.poem{
    text-align: center;
}

.poem h3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 20px;

}


.background_rolunk {
    height: 400px;
    background-image: url('assets/brunette-girl-doing-pilates-exercise-for-the-royalty-free-image-1660039849.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kep_rolunk {
    width: 80%;
    margin-top: 2rem;
}


@media (min-width: 1200px) {


    .toggle-button {
        display: none;
    }


    .title {
        align-items: flex-start;
        margin-left: 10rem;
    }

    .title h1 {
        font-size: 8rem;
        margin: 0;
        line-height: 100px;
        letter-spacing: 1.5px;
    }


    .title h2 {
        font-size: 1.25rem;
        letter-spacing: 1.9px;
    }


    .promo{
        flex-direction: row;
    }

    .flex_container{
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding: 3rem 0;
    }

    .flex_container p{
        width: 50%;
    }

    .flex_container img{
        width: 30%;
    }

   
    .kep_rolunk {
        width: 45%;
    }

    .nav-items {
        display: flex;
    }

    .main-nav_item {
        display: flex;
        font-size: 13px;
        padding: 0;
        margin: 1.85rem 0;

    }

    .main-nav li a:hover {
        color: #c4ae92;
        transition: .3s;
    }

}

.googlemaps iframe {
    width: 100%;
    height: 400px;
}




/* Animations */

@keyframes scale {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes mobile {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;


    }


}

@keyframes arrow {
    0% {
        left: 30px;
    }


    100% {
        left: 80px;
    }
}

#orarend{
    border: 1px solid #c4ae92;
    border-radius: 5px;
}

#orarend a:hover, #orarend:hover {
    background-color: #c4ae92;
    color: #ffffff; 
}

.ms-3 svg{
   color: #c4ae92;
}

footer a{
    color: #c6ac94;
    text-decoration: none
}

.text-body-secondary{
    font-size: 13px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 100;
}

article .flex_container img{
    width: 250px;
}

nav ul li a.active {
    color: #ddc3a1;
}